.modal {
    min-height: 600px;
    border-radius: 20px;
    position: relative;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.modal__image {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 20px;
}

.modal__info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

.modal__row {
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: left;
}

.modal__description-wrapper {
    margin: 10px 0;
    text-align: left;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal__price {
    font-size: 3rem;
}

.modal__address {
    font-size: 1.5rem;
    color: #737373;
}

.modal__description {
    color: #737373;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.modal__close-wrapper {
    all: unset;
    position: absolute;
    cursor: pointer;
}

.modal__close-icon {
    width: 40px;
    height: 40px;
}

@media only screen {
    .modal {
        width: 90%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .modal__image {
        width: 70%;
        height: 70%;
        margin-bottom: 20px;
    }

    .modal__info {
        width: 100%;
        padding: 20px;
    }

    .modal__close-wrapper {
        right: -20px;
        top: -30px;
    }

    .modal__close-icon {
        width: 35px;
        height: 35px;
        color: #cacaca;
    }
}

@media only screen and (min-width: 1281px) {
    .modal {
        width: 80%;
        height: 80%;
        max-width: 1800px;
        flex-direction: row;
        padding: 30px;
    }

    .modal__image {
        width: 70%;
        height: 70%;
        margin-bottom: 0;
    }

    .modal__info {
        width: 30%;
        padding: 20px;
    }

    .modal__close-wrapper {
        right: 10px;
        top: 10px;
    }

    .modal__close-icon {
        color: #737373;
    }
}